<div class="page-header">
  <%= link_to @artefact, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back to Artefact detail
  <% end %>
  <%= link_to new_artefact_attachment_path(@artefact.id), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Attachment for Artefact 
  <% end %>
  <h1>Attachments for <%= @artefact.name%></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Asset</th>
            <th>Weight</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @attachments) do |attachment| %>
            <td><%= attachment.name %></td>
            <td><%= attachment.asset %></td>
            <td><%= attachment.weight %></td>
            <td><%= link_to 'Show', [@artefact, attachment] %></td>
        <td><%= link_to 'Edit', edit_artefact_attachment_path(@artefact, attachment) %></td>
        <td><%= link_to 'Destroy', [@artefact, attachment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
